/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Anjali Shute and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/website_background2.jpg)
      center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    width: 700px;
	padding: 2%;
    margin: 100px auto;
	text-align: center;
	
}

   
#logo {
    width: 400px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
    
    font-family: conglomerate, serif;
    font-weight: 400;
    font-style: bold;
    font-size: 2.5em;
    padding: 0;
    margin: 0px auto 5px auto;
    text-align: center;
    color: white;
    width: 650px;
    line-height: 1.3;
}

h2 {
    font-family: conglomerate, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    line-height: 1;
    color: snow;
    padding: 0px 0px;
    margin: 0px auto 30px auto;
    text-align: center;
}

p {
	   /* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
   
    font-family: conglomerate, serif;
    font-weight: 300;
    font-style: bold;
	font-size: 1.3em;
    line-height: 1.6;
    color: black;
    margin-top: 2em;
    text-align: center;
}
    
nav{
    /* This is where my links are*/
    
    font-family: conglomerate, serif;
    font-size: 1.5em;
    font-weight: bolder;
    width: 400px;
    margin:0 auto;
    margin-top: 2em;
 
    text-align: center;

    }

nav li{
    display:inline;
    }

nav a{
    display: inline-block;
    padding: 10px;
    }

/*links are dark green and turn light when hovered over*/
a{
    color:darkolivegreen;
    font-weight: bold;

    }

a:hover{
    
    color:darkseagreen;
    
   
   
    }